
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div>
        <h4 style="text-align: center;"><strong>Congrats ! You are now part of <%= @trip.user.first_name %>'s trip. See your ridemates below: </strong></h4>
      </div>
      <h4> <%= @no_destination_message %> </h4>

      <!-- Card for the trip.user -->


      <div class="card" id="mates-card">
        <div id="ridemate-confirmation">
          <div >
            <% if @trip.user.photo.blank? %>
            <img id="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
            <% else %>
            <%= cl_image_tag @trip.user.photo, {id: "avatar-confirmation"} %>
            <% end %>
          </div>
          <div id="user-confirmation">
            <b> <%= @trip.user.first_name %></b>
          </div>
        </div>
        <%  @mates.each do |mate| %>
          <div id="ridemate-confirmation">
            <div >
              <% if mate.photo.blank? %>
              <img id="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
              <% else %>
              <%= cl_image_tag mate.photo, {id: "avatar-confirmation"} %>
              <% end %>
            </div>
            <div id="user-confirmation">
              <b> <%= mate.first_name %></b>
            </div>
          </div>
        <% end  %>
      </div>

      <!-- Trip Details -->
      <div class="card trip-details">
        <ul style="font-size: 17px;">
          <li><b>From: </b><%= @trip.airport.name %>,
            Terminal <%= @trip.terminal %></li>
            <li><b>To: </b><%= @trip.destination %></li>
            <li><b>Meet Up Time: </b><%= @trip.time.strftime("%b %e at %l:%M %p") %></li>
            <li><b>Cost estimate per rider: </b>$ <%= @total_estimate %><h6 style="color: green; font-family: sans-serif; font-size: 17px;"><%= @uber_message %></h6></li>
          </ul>
        </div>
          <div class="container text-center">
        <% if @request_button %>
        Click Below to Order a Ride<br> <%= link_to image_tag("uber_logo2.jpg", :alt => "uber", :class => "uber_button"), "https://m.uber.com/ul/?client_id=#{ENV['UBER_CLIENT_ID']}" %>
        <% end %>
      </div>
        <div class="card trip-details">
          <ul>
            <% t =  @trip.time - Time.now %>
            <% m = t/60 %>
            <% if t < 0 %> Sorry this trip has left.
            <li>
              <% elsif m < 60 %>
               Let's meet at the terminal's taxi station in <%= m.round %> minute(s)
               <% elsif m > 1440 %>
                <% h = m / 60 %>
              <% d = m/1440 %>
              Let's meet at the terminal's taxi station in <%= d.round %> day(s)
              <% else %>
                <% h = m / 60 %>
               Let's meet at the terminal's taxi station in <%= h.round %> hour(s)
              <% end %>
            </li>
            <li>
              <% if m < 75 %>
              <div style="color:red;"><b>Hurry! Trip leaving soon!</b></div>
              <% else %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Chat", chat_path, class: "btn-full home-btn" %>
  </div>
</div>
<br>
<div
id="map"
style="width:100%; margin:0 auto;
height: 200px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
</div>
<br>
<% if current_user == @trip.user %>
<p><%= link_to "Delete Trip", trip_path(@trip), data: { confirm: "Are you sure?" },method: :delete, class: "btn-border" %></p>
<% else %>
<p><%= link_to "Leave Trip", ridemate_path(@ridemate), data: { confirm: "Are you sure?" },method: :delete, class: "btn-border" %></p>
<% end %>

