
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div>
        <h4 style="text-align: center;"><strong>Congrats ! You are now part of <%= @trip.user.first_name %>'s trip. See your ridemates below: </strong></h4>
      </div>

      <!-- Card for the trip.user -->


      <div class="card" id="mates-card">
        <div id="ridemate-confirmation">
          <div >
            <% if @trip.user.photo.blank? %>
            <img cid="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
            <% else %>
            <%= cl_image_tag @trip.user.photo, {id: "avatar-confirmation"} %>
            <% end %>
          </div>
          <div id="user-confirmation">
            <b> <%= @trip.user.first_name %></b>
          </div>
        </div>
        <%  @mates.each do |mate| %>
          <div id="ridemate-confirmation">
            <div >
              <% if mate.photo.blank? %>
              <img id="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
              <% else %>
              <%= cl_image_tag mate.photo, {id: "avatar-confirmation"} %>
              <% end %>
            </div>
            <div id="user-confirmation">
              <b> <%= mate.first_name %></b>
            </div>
          </div>
        <% end  %>
      </div>

      <!-- Trip Details -->
      <div class="card trip-details">
        <ul style="font-size: 17px;">
          <li><b>From: </b><%= @trip.airport.name %>,
            Terminal <%= @trip.terminal %></li>
            <li><b>To: </b><%= @trip.destination %></li>
            <li><b>Meet Up Time: </b><%= @trip.time.strftime("%e %b %Y %H:%M:%S%p") %></li>
            <li><b>Cost estimate per rider: </b>$ <%= @total_estimate %></li>
          </ul>
        </div>

        <div class="card trip-details">
          <ul>
            <% t =  @trip.time - Time.now %>
            <% m = t/60 %>
            <li>Let's meet at the terminal's taxi station in
              <% if m > 1440 %>
              <% d = m/1440 %>
              <%= d.round %> days
              <% else %>
              <% d = m %>
              <%= m.round %> minutes
              <% end %>
            </li>
            <li>
              <% if m < 75 %>
              <div style="color:red;"><b>Hurry! Trip leaving soon!</b></div>
              <% else %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div>
    <%= link_to "Chat", chat_path, class: "btn-full home-btn" %>
  </div>
</div>
<br>
<div
id="map"
style="width:100%; margin:0 auto;
height: 200px;"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
</div>
<br>
<% if current_user == @trip.user %>
<p><%= link_to "Delete Trip", trip_path(@trip), data: { confirm: "Are you sure?" },method: :delete, class: "btn-border" %></p>
<% else %>
<p><%= link_to "Leave Trip", ridemate_path(@ridemate), data: { confirm: "Are you sure?" },method: :delete, class: "btn-border" %></p>
<% end %>

