<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
			<div class="box">
				<div id = "home-form">
					<%= simple_form_for @trip do |t| %>
          <br>
					<div style="font-size: 14px;"><strong>Your Location: </strong><br><%= @trip.airport.name %></div><br>
					<%= t.input :terminal %>
					<%= t.input :destination, id: "trip_destination", label: "Destination", as: :string, placeholder: "Where are you going?", label_html: { class: 'label-form' } %>
          <%= t.hidden_field :airport, value: @trip.airport.name %>
          <%= t.input :ride_mates_limit, placeholder: "3 or 6" %>
          <%= t.input :estimate, placeholder: "Leave empty to be calculated by Uber", label_html: { class: 'label-form' } %>
					<%= t.input :time, as: :string,  required: false, input_html: {class: "datepicker"} %>
					<%= t.button :submit, "Create", class: "btn-full btn-sm home-btm" %>
					<% end %>
				</div>
			</div>
    </div>
  </div>
</div>
