<h2 class="h2search text-center">Search Results</h2>
<h3 class="h3message"><%= @message %></h3>
<h4 class="h4search text-center"><strong>My destination:</strong> <%= truncate(params[:query][:destination], length: 35, omission: '...')%> Terminal: <%= params[:query][:terminal] %></h4>
  <div
  id="map"
  style="margin:0 auto; width: cover;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div><br>

<div class="container">
  <div class="row">
    <% @trips.each do |trip| %>

      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <%= link_to trip_path(trip, query: @params) do %>
          <div class="card trip-card">
            <div class="avatar">
              <% if trip.user.photo.blank? %>
                <img class="user-avatar" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
              <% else %>
                <%= cl_image_tag trip.user.photo, {class: "user-avatar"} %>
              <% end %>
            </div>
            <div class="ride-info">
              <div style="margin-left: 10px;"><% if trip.destination.split(",").last.include?("United States of America") %><strong><%= trip.destination.split(",")[0...-1].join(",") %></strong><% else %> <strong><%= trip.destination %></strong><% end %>
              </div>
              <div class="ride-details">
                <p><%= trip.time.strftime("%b %e at %l:%M %p") %></p>
                <div class="ride-footer">
                  <div id="ridemates">
                  <strong>Passengers</strong> &nbsp <%= trip.ridemates.count + 1 %> / <%= trip.ride_mates_limit + 1 %>
                  </div>
                  <div id="cost">
                  <i class="fas fa-dollar-sign"></i>  &nbsp <%= (trip.estimate / (trip.ridemates.count + 2)).round(2) %>
                  </div>
                  <div id="distance">
                  <% current_location = Geokit::LatLng.new(trip.longitude, trip.latitude) %>
                  <% destination = @markers.last[:lng], @markers.last[:lat] %>
                  <i class="fas fa-walking"></i> &nbsp <%= current_location.distance_to(destination).round(2) %> miles
                  </div>
                </div>
              </div>
            </div><hr>
          </div>
        <% end %>
     </div>
    <% end %>
   </div>
 </div>
 <div class='new-ride text-center'>
   <h4>Can't find a trip you love?</h4>
   <h4>Add a New Trip!</h4>
   <%= link_to new_trip_path do %>
     <div class=circle-btn>
       <div class="bar horizontal"></div>
       <div class="bar vertical"></div>
     </div>
   <% end %>
 </div>

 <% #raise %>

