<h2 class="h2search">Search Results</h2>
<h4 class="h4search"><strong>My destination:</strong> <%= truncate(params[:query][:destination], length: 35, omission: '...')%></h4>
<div class="box">
  <div
  id="map"
  style="width:300px; margin:0 auto;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
</div>
<div class="container">
 <div class="row">
   <div class="col-xs-12 col-sm-4 col-sm-offset-4">
     <% @trips.each do |trip| %>
     <div class="card">
       <div class="avatar">
         <!-- <img class="user-avatar" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan
         https://kitt.lewagon.com/placeholder/users/gabriel-dehan
         "> -->
         <% if current_user.photo.blank? %>
         <%= cl_image_tag "user-login-icon-14",  {class: "user-avatar-blnk"} %>
         <% else %>
         <%= cl_image_tag current_user.photo,  {class: "user-avatar"} %>

         <% end %>

       </div>
       <div class="ride-info">
         <%= link_to trip_path(trip, query: @params) do %>
         <ul class="trip-list">
           <li id="terminal">Terminal <%= trip.terminal %></li>
           <li id="destination"><%= trip.destination %></li>
         </ul>
         <div class="ride-footer">
           <div id="ride-date">
             <p>Departure: <%= trip.time.strftime("%e %b %Y %H:%M:%S%p") %></p>
           </div>
           <div id='ride-sum'>
             <p>Ride Mates: <%= trip.ride_mates_limit %></p>
             <% end %>
           </div>
         </div>
       </div>
     </div>
     <% end %>
   </div>
 </div>
 <div class='new-ride'>
   <h4>Can't find a trip you love?</h4>
   <h4>Add a New Trip!</h4>
   <%= link_to new_trip_path do %>
   <div class=circle-btn>
     <div class="bar horizontal"></div>
     <div class="bar vertical"></div>
   </div>
   <% end %>
 </div>
</div>
