<h2>Search Results</h2>
<h2>My destination <%= params[:query][:destination] %></h2>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <% @trips.each do |trip| %>
      <div class="card">
        <div class="user-avatar">
          <!-- <img class="avatar-sm" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan"> -->
          <% if current_user.photo.blank? %>
          <%= cl_image_tag "user-login-icon-14",  {id: "navbar-wagon-menu", class: "avatar dropdown-toggle", data: {toggle: :dropdown}} %>

          <% else %>
          <%= cl_image_tag current_user.photo,  {id: "navbar-wagon-menu", class: "avatar dropdown-toggle", data: {toggle: :dropdown}} %>

         <% end %>

        </div>
        <div class="ride-info">
          <%= link_to trip_path(trip, query: @params) do %>
            <h5>Terminal <%= trip.terminal %></h5>
            <p><%= trip.destination %> </p>
          <div class="ride-footer">
            <div class="ride-date">
              <p>Departure: <%= trip.time.strftime("%e %b %Y %H:%M:%S%p") %></p>
            </div>
            <div class='ride-sum'>
              <p>Ride Mates: <%= trip.ride_mates_limit %></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
    <div class='new-ride'>
    <%= link_to new_trip_path do %>
    <div class=circle-btn>
      <div class="bar horizontal"></div>
      <div class="bar vertical"></div>
    </div>
    <% end %>
  </div>

</div>







