  <diV class="container" >
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card show-user">
        <% if @trip.user.photo.blank? %>
          <img id="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
          <% else %>
          <%= cl_image_tag @trip.user.photo, {id: "avatar-confirmation"} %>
          <% end %>
      <div class="ride-info-show">
        <ul class="trip-list">
          <li id="terminal"><b>Trip created by: </b><%= @trip.user.first_name %></li>
          <li><b>Share My Ride score: </b> REVIEWS</li>
        </ul>
        <div class="ride-footer">
          <div id="ride-date">
            <!-- Could put the score when reviews implemented -->
          </div>
      </div>
    </div>
  </div>


  <% if @mates.blank? %>
  <div class="card">
    <h6 style="margin-left: 10px;">There are no other riders with <%= @trip.user.first_name %> yet</h6>
  </div>
  <% else %>
  <h6>Other Ridemate(s):</h6>
  <div class="card" id="mates-card">
    <%  @mates.each do |mate| %>
      <div id="ridemate-confirmation">
            <div >
              <% if mate.photo.blank? %>
              <img id="avatar-confirmation" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
              <% else %>
              <%= cl_image_tag mate.photo, {id: "avatar-confirmation"} %>
              <% end %>
            </div>
            <div id="user-confirmation" style="font-size: 15px;">
              <%= mate.first_name %>
            </div>
          </div>
        <% end  %>
  </div>
  <% end %>
        <!-- trip details card -->
    <div class="card trip-details">
      <ul>
      <li><b>From: </b><%= @trip.airport.name %>,
        <br>Terminal <%= @trip.terminal %></li>
      <li><b>To: </b><%= @trip.destination %></li>
      <li><b>Meet Up Time: </b><%= @trip.time.strftime("%b %e at %l:%M %p") %></li>

      <li><b>Estimated cost: </b>$ <%= @total_estimate %></li>
      </ul>
    </div>



     <h4 class="h4show" style="color: white; text-align: center;">Join <%= @trip.user.first_name %>'s trip and get in touch with your ridemates</h4>
     <%= link_to "JOIN", trip_ridemates_path(@trip.id),
      method: :create,
      data: { confirm: "Are you sure?" }, class: "btn-full home-btn" %>
        <%= link_to "BACK TO SEARCH", :back, class: "btn-full home-btn" %>
    </div>
  </div>
</div>
</div>
<br>
<div
  id="map"
  style="width:100%; margin:0 auto;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
