<h4 class="h4show" style="color: white;">Your selected trip details are below. Please click join to confirm this trip:</h4>
  <diV class="container" >
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="card show-user">
      <div class="avatar">
        <% if @trip.user.photo.blank? %>
          <img class="user-avatar" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
          <% else %>
          <%= cl_image_tag @trip.user.photo, {class: "user-avatar"} %>
          <% end %>
      </div>
      <div class="ride-info-show">
        <ul class="trip-list">
          <li id="terminal">Name :<%= @trip.user.first_name %></li>

          <li> I'm a full stack developer here for Rails training program</li>
        </ul>
        <div class="ride-footer">
          <div id="ride-date">
            <!-- Could put the score when reviews implemented -->
          </div>
      </div>
    </div>
  </div>
        <!-- trip details card -->
    <div class="card trip-details">
      <ul>
      <li>Meet Up Time: <%= @trip.time.strftime("%e %b %Y %H:%M:%S%p") %></li>
      <li>Terminal: <%= @trip.terminal %></li>
      <li>To: <%= @trip.destination %></li>
      </ul>
    </div>


  <div class="card style="border-bottom:none">
    <%  @mates.each do |mate| %>
        <div class="avatar">
        <% if mate.photo.blank? %>
          <img class="user-avatar" src='https://www.freeiconspng.com/uploads/user-login-icon-14.png'>
          <% else %>
          <%= cl_image_tag mate.photo, {class: "user-avatar"} %>
          <% end %>
        </div>
      <% end %>
  </div>


      <%= link_to "JOIN", trip_ridemates_path(@trip.id),
      method: :create,
      data: { confirm: "Are you sure?" }, class: "btn-full home-btn" %>
    </div>
  </div>
</div>
<br>
<div
  id="map"
  style="width:350px; margin:0 auto;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
