<h3>Hi <%= @owner.first_name %>,</h3>

  <p>Another rider has just booked with ShareMyRide to join your trip. Please find the updated confirmation details below:</p>

  <ul>
      <li>Terminal: <%= @trip.terminal %></li>
      <li>Meet Up Time: <%= @trip.time.strftime("%e %b %Y %H:%M:%S%p") %></li>
      <li>To: <%= @trip.destination %></li>
      <li>Total Riders: <%= @trip.ridemates.count %></li>
  </ul>

<p>Thank you for using ShareMyRide, we hope you have a safe and pleasant journey!</p>
<br>
<p>Cheers,</p>

<pre style="font-size: 14px;  font-family: 'sans-serif' ">
The ShareMyRide Team
www.sharemyride.tech
Contact us: admin@sharemyride.tech
</pre>